/*Import font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Eczar:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

/*Insert the background image*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 750px;
    perspective: 1200px
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;
    transform-style: preserve-3d;
}

.card .card-bg{
    position: absolute; /*Place the card in the center*/
}

.card .card-bg img{
    z-index: 1; /*First layer in z axis*/
    width: 100%; /* Resize the card size*/
    border-radius: 10px; /*Change  to round edge*/
}

.card .title{
    z-index: 2; /* Second layer in z axis*/
    position:absolute;
    top: 50px;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease-out;
}

/*Define the font type for each heading*/
.card .title h2{
    font-family: "Eczar", serif;
    font-size: 25px;
    text-transform: uppercase;
}

.card .title h1{
    font-family: "Berkshire Swash", cursive;
    font-size: 60px;
    letter-spacing: 2px;
}

.card .title h3{
    font-family: "Eczar", serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.card .images{
    z-index: 2;
}

.card .images .santa{
    z-index: 3;
    position: absolute;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card .images .tree{
    z-index: 2;
    width: 400px;
    transition: all 0.3 ease-out;
}

